@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-midnight: #121063;
  --color-white: #EFEFEF;
  --color-cardwhite: #FFFFFF;
  --color-skyblue: #007CFF;
  --color-darkblue:#164997;
  --color-textgray:#333333;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.twoSlider .slick-prev{
  @apply w-[34px] h-[34px] bg-darkblue rounded-xl
}
.twoSlider .slick-next{
  @apply w-[34px] h-[34px] bg-darkblue rounded-xl
}
.twoSlider .slick-prev:before{
  @apply w-[34px] h-[34px] bg-darkblue rounded-xl
}
.twoSlider .slick-next:before{
  @apply w-[34px] h-[34px] bg-darkblue rounded-xl
}


